<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1  bg-gradient-success">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>
    <!-- SVG separator -->

    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">

            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
               
              </div>
            </div>
          </div>
          
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="h4 mt-4"><i class="ni business_briefcase-24 mr-2" ></i> PURPOSE FOR USING CONTACT US PAGE</div>
                <br>
                <h6>We are here to help in any way we can. We believe confidentiality is one of the main components in
                  rehabilitation
                  and we provide you that without any compromisation. If you have an urgent matter to be discussed with,
                  please use this option
                  and we will get back to you as soon as possible with the right solution and till then we recommend you to
                  communicate with
                  anyone you are close with to help ease the situation.
                  <b>YOUR LIFE MATTER!</b>
                </h6>
              </div>
            </div>
          </div>



          <div class="jumbotron">
            <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <!-- <h3>Mind Health </h3> -->
                  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" formControlName="email" class="form-control" />
                      <div class="invalid-feedback">
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Confirm Email</label>
                      <input type="text" formControlName="confirm" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && (isEmailMismatch || f.confirm.errors) }" />
                      <div *ngIf="submitted && (isEmailMismatch || f.confirm.errors)" class="invalid-feedback">
                        <div *ngIf="f.confirm.errors.required">Confirm Email is required</div>
                        <div *ngIf="isEmailMismatch">Emails must match</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Subject</label>
                                       
                        <textarea id="subject" name="subject" placeholder="Please elaborate your urgency"
                          style="height:200px"></textarea>
                      
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" style="float: right;">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>



         
        </div>
      </div>
    </div>
  </section>
</main>