<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1  bg-gradient-success">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">

            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center"> 
                
              </div> 
            </div>
          </div>
         

          <div class="container">
          
            <div style="float: right;"></div>
        <!-- <img src="./assets/img/theme/promo-1.png" class="img-fluid floating"> -->
        <h2>STEPS ON USING THE CHATBOT</h2>
        <br>

        <h4>1. Initiate Conversation <i class="ni ni-chat-round"></i></h4>
        <br>
        <h4>2. Type Your Inquiries <i class="ni ni-active-40"></i></h4>
        <br>
        <h4>3. Wait For Response <i class="ni ni-watch-time"></i></h4>
<br>
<br>
          <iframe allow="microphone;" width="650" height="530"
          src="https://console.dialogflow.com/api-client/demo/embedded/dec58bcc-b84e-486a-ac14-3b8d17d5d755">
        </iframe>

        
          </div>




          <div class="mt-5 py-5 border-top text-center">
            <!-- <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>aa</p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>