<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1  bg-gradient-success">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>
    <!-- SVG separator -->
    <!-- <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>


  <section id="list" class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase">Drugs</h6>
                  <!-- <p class="description mt-1 font-italic">Created by </p> -->
                  <p class="description mt-3"></p>
                  <div>
                    <span class="badge badge-pill badge-primary"> Drug Quiz</span>
                    <!-- <span class="badge badge-pill badge-primary">{{item.category}}</span> -->

                  </div>
                  <div class="col-lg-8" style="margin: 10px; float: right;">
                    <a class="btn bg-gradient-danger" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-down fa-2x"></i>
                      </span>
                    </a>
                    <a class="btn bg-gradient-success" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-up fa-2x"></i>
                      </span>
                    </a>

                  </div>
                
                  <a  [routerLink]="['/drugquiz']" class="btn btn-primary mt-4" style="color: white">Start Quiz</a>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="float: right">
      </div>
    </div>
  </section>


  <section id="list" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase">Alcohol</h6>
                  <!-- <p class="description mt-1 font-italic">Created by </p> -->
                  <p class="description mt-3"></p>
                  <div>
                    <span class="badge badge-pill badge-primary"> Alcohol Quiz</span>
                    <!-- <span class="badge badge-pill badge-primary">{{item.category}}</span> -->

                  </div>
                  <div class="col-lg-8" style="margin: 10px; float: right;">
                    <a class="btn bg-gradient-danger" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-down fa-2x"></i>
                      </span>
                    </a>
                    <a class="btn bg-gradient-success" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-up fa-2x"></i>
                      </span>
                    </a>

                  </div>
                  <a  [routerLink]="['/alcoholquiz']" class="btn btn-primary mt-4" style="color: white">Start Quiz</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="float: right">
      </div>
    </div>
  </section>



  <section id="list" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase">Recovery </h6>
                  <!-- <p class="description mt-1 font-italic">Created by </p> -->
                  <p class="description mt-3"></p>
                  <div>
                    <span class="badge badge-pill badge-primary"> Recovery Quiz</span>
                    <!-- <span class="badge badge-pill badge-primary">{{item.category}}</span> -->

                  </div>
                  <div class="col-lg-8" style="margin: 10px; float: right;">
                    <a class="btn bg-gradient-danger" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-down fa-2x"></i>
                      </span>
                    </a>
                    <a class="btn bg-gradient-success" style="margin: 10px; float: right;">
                      <span class=" btn-inner--icon text-white"><i class="fa fa-thumbs-up fa-2x"></i>
                      </span>
                    </a>

                  </div>
                  <a [routerLink]="['/quizquestions']" class="btn btn-primary mt-4" style="color: white">Start Quiz</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="float: right">
      </div>
    </div>
  </section>


  




  <!-- <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>aa</p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div> -->

</main>