<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1  bg-gradient-success alpha-4">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">

            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">

            </div>
            <div class="col-lg-4 order-lg-1">

            </div>
          </div>
          <div class="text-center mt-5">

            <div class="container">

              <img src="./assets/img/brand/add.png" height="500">
            </div>




          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="h4 mt-4"><i class="ni business_briefcase-24 mr-2" ></i>   WHAT IS ADDICTION?</div>
                <p>Addiction is a complex disease, often chronic in nature, which affects the functioning of the brain
                  and body. It also causes serious damage to families, relationships, schools, workplaces and
                  neighborhoods. The most common symptoms of addiction are severe loss of control, continued use despite
                  serious consequences, preoccupation with using, failed attempts to quit, tolerance and withdrawal.
                  Addiction can be effectively prevented, treated and managed by healthcare professionals in combination
                  with family or peer support.</p>
                  
                 
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="h4 mt-4"><i class="ni business_briefcase-24 mr-2"></i>WHAT IS THE DIFFERENCE BETWEEN DRUG OR
                  ALCOHOL ABUSE AND ADDICTION?</div>
                <p>There is a range in the severity of substance problems: from mild to moderate to severe. Drug or
                  alcohol abuse is a mild substance problem, defined by having two or three symptoms of addiction.
                  People who abuse drugs or alcohol can experience serious consequences such as accidents, overdoses,
                  crime, school problems, violence and suicide. Many people experience alcohol or drug abuse problems,
                  but are able to stop using or change their pattern of use without progressing to addiction.
                  The most severe form of addiction is a physical, often chronic, disease that most often requires
                  intensive, long-term treatment. And just like other serious diseases, people with severe addiction get
                  increasingly sick over time, develop other illnesses as a result of the disease, and can ultimately
                  die.
                </p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>